<div class="container signup_login_content align-content-center text-center">
  <div class="text-center mb-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
        </div>
      </div>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <div class="form-group-signup signup">
      <h5> オーナープランのお申込みには<br class="d-lg-none"> 会員登録が必要です </h5>
      <button class="btn btn_facebook" id="facebook_signup_button">
         Facebook で会員登録する
      </button>
      <p> Facebookアカウントを<br class="d-lg-none"> お持ちでない方はこちら</p>
      <div class="mx-auto email_signup_form mb-3">
        <div class="field">
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder:"姓", class:"form-control rounded-top" %>
        </div>
        <div class="field">
            <%= f.text_field :first_name, autocomplete: "first_name", placeholder:"名前", class:"form-control rounded-top" %>
          </div>
        <div class="field">
            <%= f.email_field :email, autocomplete: "email", placeholder:"メールアドレス", class:"form-control rounded-top" %>
        </div>
        <div class="field">
            <% if @minimum_password_length %>
            <em>(パスワードは<%= @minimum_password_length %> 文字以上です)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", placeholder:"パスワード", class:"form-control rounded-top"%>
        </div>
        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"パスワードの確認", class:"form-control rounded-top"%>
        </div>
      </div>
      <div class="actions">
            <%= f.submit "メールアドレスで会員登録する", class:"btn signin-btn-email rounded-top"%>
      </div>
    </div>
  <% end %>
  <div class="form-group-signup d-none d-lg-block">
    <h5>すでに会員の方はこちら</h5>
    <%= render "devise/shared/links" %>
  </div>
</div>
