<div class="mypage_container">
  <div class="mx-auto mypage_main_pc">
    <div class="d-none d-lg-block mypage_left_menu">
      <div class="mypage-detail-menu">
        <% if current_user.image? %>
          <%= image_tag current_user.image %>
          <% else %>
          <%= image_tag 'https://d1xgtamobon6ik.cloudfront.net/profile_image_default.png' %>
        <% end %>
        <nav>
          <p class="text-center"><%= current_user.last_name%> <%= current_user.first_name%></p>
          <%= link_to "マイページ", user_path(current_user) %>
          <%= link_to "アドレス帳", user_addresses_path(current_user) %>
          <%= link_to "アカウント設定", edit_user_path(current_user) %>
          <a href="#"><i></i>購入履歴</a>
        </nav>
      </div>
      <div class="text-center contact-to-owners">
        <h3 class="text-center">運営に意見を送る</h3>
        <form class="owners_form">
          <input type="hidden" id="contact_csrf_token" value="Ijk1YTEyOTgwMGUwZDQ4N2Q1ZTMyOWFhODE0ZTdlNTc2ZTI5MGMwNWEi.Dk7y-w.2_1tDAt0cz3dQAj5oDkmxbPeIbU">
          <textarea id="contact_message_PC" placeholder="ご意見・ご要望などございましたらこちらからお寄せ下さい
          なお、返信を要する内容については、問い合わせフォームよりお願い致します。" class="mx-auto"></textarea>
          <input type="hidden" id="contact_user_id" value="lZGkG91T0p7glshfrawic">
          <input type="hidden" id="contact_producer_id" value="">
          <input name="confirm" style="width:130px;" onclick="return create_inquiry(this, 'PC')" type="submit" value="送信">
        </form>
      </div>
    </div>
    <div class="mypage_main_contents">
      <div class="row">
        <div class="col-12 col-md-6">
          <h2>運営からのお知らせ</h2>
          <div class="owners-run-news">
            <div>
              <time>2018/07/30</time>
              <p>
                <a href="https://owner-style.com/plan/165" target="_blank"> 鹿児島県南さつま市から薩摩あわびのプランを公開しました！ </a>
              </p>
            </div>
            <div>
              <time>2018/07/30</time>
              <p>
                <a href="https://owner-style.com/plan/167" target="_blank"> ラオス ロンラン村から届くラオスの森コーヒープランを公開しました！ </a>
              </p>
            </div>
            <div>
              <time>2018/07/30</time>
              <p> 本日、OWNERSがリニューアルオープンしました！
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="d-block d-md-none mt-5">
          </div>
          <h2>新着手づくり日誌</h2>
          <div class="diary-posts"> </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-5">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2> 契約中のプラン </h2>
          現在契約中のプランはありません<br>
          <a href="/">お気に入りの生産者を探してみましょう！</a>
          <h2></h2>
        </div>
      </div>
    </div>
  </div>
</div>
