<div class="d-none d-lg-block flow">
  <div class="d-flex justify-content-center align-items-center w-100 progress_header">
    <div class="d-flex justify-content-start progress_arrow">
      <div class="done"> 1. コース選択 </div>
      <div class="arrow_right_done"></div>
      <div class="wip"> 2. お届け先の指定 </div>
      <div class="arrow_right_wip"></div>
      <div class="backlog"> 3. 申し込み内容・お届け先の確認 </div>
      <div class="arrow_right_backlog"></div>
      <div class="backlog"> 4. お支払い </div>
      <div class="arrow_right_backlog"></div>
      <div class="backlog"> 5. 完了 </div>
      <div class="arrow_right_backlog"></div>
    </div>
  </div>
</div>

<div class="purchase_title d-none d-lg-block">
  <div class="title mx-auto text-nowrap"> お届け先の指定 </div>
</div>

<div class="purchase_guide_message d-none d-lg-block">
  <div class="title mx-auto text-center"> お届け先を指定してください。複数のお届け先を指定することもできます。 </div>
</div>

<div class="container-fluid purchase_main_container">
  <div class="row">
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col m-0 p-0">
      <table class="address_table">
        <tbody>
          <tr>
            <th class="course_info hidden_on_sp"> コース名/価格/口数 </th>
            <th class="hidden_on_sp"> お届け先 </th>
          </tr>
          <tr>
            <td class="course_info hidden_on_sp align-top">
              <h3><%= @course.name %></h3>
              <div class="d-flex justify-content-between price">
                <div><%= @course.price %>円</div>
                <%= form_for(@order, url:  confirm_course_orders_path(@course,@order), html: {method: 'GET'}) do |f| %>
                <div><%= @order.quantity %>
                  <%= f.hidden_field :quantity %>口
                </div>
              </div>
            </td>
            <td class="align-top">
              <div class="d-block d-lg-none separated_form_title">
                <h3>ラオスの森コーヒー定期便コース</h3>
                <div class="d-flex justify-content-between price">
                  <div>10,000円</div>
                  <div><%= @order.quantity %>
                    <%= f.hidden_field :quantity %>口
                  </div>
                </div>
                <h3>ラオスの森コーヒーお気軽コース</h3>
                <div class="d-flex justify-content-between price">
                  <div>5,000円</div>
                  <div><%= @order.quantity %>
                    <%= f.hidden_field :quantity %>口
                  </div>
                </div>
              </div>
              <% current_user.addresses.each do |address| %>
              <%= f.radio_button :address_id, address.id %> <%= address.full_name %>様 〒<%= address.postal_code.insert(3,"-") %> <%= address.prefecture %> <%= address.city %> <%= address.house_number %> <br />
              <% end %>
              <div class="address_button" id="address_button_js"> 新しいお届け先を追加する </div>
              <div class="add-addresses-container" id="address_js">
                  <span class="p-country-name" style="display:none;">Japan</span>
                  <div class="form-group">
                    <label for="full_name">氏名:※</label>
                    <input type="text" name="address[full_name]" class="form-control" id="full_name" placeholder="氏名" value="" required="">
                    <div class="invalid-feedback"> 氏名を入力して下さい。 </div>
                  </div>
                  <div class="form-group">
                    <label for="postal_code">郵便番号:※</label>
                    <em>ハイフン (-) 無しの半角数字で入力してください。</em>
                    <div class="form-inline">
                      <input type="text" class="form-control postal_code p-postal-code" name="address[postal_code]" placeholder="0000000" maxlength="7" value="" required="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="prefecture">都道府県:※ </label>
                    <%= render partial: 'states' %>
                  </div>
                  <div class="form-group">
                    <label for="city">住所1:※ </label>
                    <input type="text" class="form-control p-locality p-street-address" name="address[city]" placeholder="例）台東区松が谷" value="" required="">
                    <div class="invalid-feedback"> 住所を入力して下さい。 </div>
                  </div>
                  <div class="form-group">
                    <label for="house_number">住所2 (番地, 建物名):※ </label>
                    <input type="text" class="form-control p-extended-address" name="address[house_number]" placeholder="例）1-2-3 ○○ビル3階" value="" required="">
                  </div>
                  <div class="form-group">
                    <label for="tel">電話番号:※</label>
                    <em>ハイフン (-) 無しの半角数字で入力してください。</em>
                    <input type="tel" class="form-control add-tell-number" name="address[tel]" placeholder="例）08011112222" value="" required="">
                    <div class="invalid-feedback"> 電話番号を入力して下さい。 </div>
                  </div>
                  <input type="hidden" class="p-country-name" value="Japan">
                  <input id="csrf_token" name="csrf_token" type="hidden" value="Ijk1YTEyOTgwMGUwZDQ4N2Q1ZTMyOWFhODE0ZTdlNTc2ZTI5MGMwNWEi.DlauIw.5DUU-ZE-jgL6_Pfd56x6ICjOszA">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col p-2 p-lg-0">
      <hr> 備考
      <textarea name="description" class="form-control"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col m-0 p-0 pt-2 select_address_type">
      <div class="form-group">
        <a class="separated" href="/orders/input/167?separated=1">複数の送り先を指定したい方はこちら</a>
      </div>
    </div>
  </div>
  <div class="row d-none d-lg-block">
    <div class="col p-0 d-flex justify-content-end">
      <%= link_to '戻る',new_course_order_path, name: 'back', class: 'white' %>
        <i class="arrow_left_green"></i>
      <button type="submit" class="submit_button" id="submit_button_pc" formnovalidate>
        <i class="arrow_right_white"></i> お申込み内容の確認へ
      </button>
    </div>
    <% end %>
  </div>
</div>
