<div class="d-none d-lg-block flow">
  <div class="d-flex justify-content-center align-items-center w-100 progress_header">
    <div class="d-flex justify-content-start progress_arrow">
      <div class="done"> 1. コース選択 </div>
      <div class="arrow_right_done"></div>
      <div class="wip"> 2. お届け先の指定 </div>
      <div class="arrow_right_wip"></div>
      <div class="backlog"> 3. 申し込み内容・お届け先の確認 </div>
      <div class="arrow_right_backlog"></div>
      <div class="backlog"> 4. お支払い </div>
      <div class="arrow_right_backlog"></div>
      <div class="backlog"> 5. 完了 </div>
      <div class="arrow_right_backlog"></div>
    </div>
  </div>
</div>

<div class="purchase_title d-none d-lg-block">
  <div class="title mx-auto text-nowrap"> お届け先の指定 </div>
</div>

<div class="purchase_guide_message d-none d-lg-block">
  <div class="title mx-auto text-center"> お届け先を指定してください。複数のお届け先を指定することもできます。 </div>
</div>

<div class="container-fluid purchase_main_container">
  <div class="row">
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col m-0 p-0">
      <table class="address_table">
        <tbody>
          <tr>
            <th class="course_info hidden_on_sp"> コース名/価格/口数 </th>
            <th class="hidden_on_sp"> お届け先 </th>
          </tr>
          <tr>
            <td class="course_info hidden_on_sp align-top">
              <h3>ラオスの森コーヒー定期便コース</h3>
              <div class="d-flex justify-content-between price">
                <div>10,000円</div>
                <%= form_for(@order, url:  confirm_plan_orders_path(@plan,@order.quantity), html: {method: 'GET'}) do |f| %>
                <div><%= @order.quantity %>
                  <%= f.hidden_field :quantity %>口
                </div>
              </div>
              <h3>ラオスの森コーヒーお気軽コース</h3>
              <div class="d-flex justify-content-between price">
                <div>5,000円</div>
                <div><%= @order.quantity %>
                  <%= f.hidden_field :quantity %>口
                </div>
              </div>
            </td>
            <td class="align-top">
              <div class="d-block d-lg-none separated_form_title">
                <h3>ラオスの森コーヒー定期便コース</h3>
                <div class="d-flex justify-content-between price">
                  <div>10,000円</div>
                  <div><%= @order.quantity %>
                    <%= f.hidden_field :quantity %>口
                  </div>
                </div>
                <h3>ラオスの森コーヒーお気軽コース</h3>
                <div class="d-flex justify-content-between price">
                  <div>5,000円</div>
                  <div><%= @order.quantity %>
                    <%= f.hidden_field :quantity %>口
                  </div>
                </div>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="registered_address[0]" id="2LaOaYtlQlw9vt6bBUV6xu_0" value="2LaOaYtlQlw9vt6bBUV6xu" onclick="clickAddressRadioButton(0, '2LaOaYtlQlw9vt6bBUV6xu_0')" checked="">
                <label class="form-check-label radio" for="2LaOaYtlQlw9vt6bBUV6xu_0">
                  <span>あ 様</span> 〒１１１-１１１１ 北海道 １ １
                </label>
              </div>
              <a class="address_button" href="javascript:showAddressForm(0)"> 新しいお届け先を追加する </a>
              <div class="collapse" id="collapse_0">
                <div class="card card-body">
                  <div class="h-adr">
                    <div class="form-group">
                      <label for="name[0]">氏名:</label>
                      <label class="required">※ 必須</label>
                      <input type="text" name="name[0]" class="form-control" id="name[0]" placeholder="氏名" value="">
                      <div class="invalid-feedback"> 氏名を入力して下さい。 </div>
                    </div>
                    <div class="form-group">
                      <label for="zip_code_1[0]">郵便番号:</label>
                      <label class="required">※ 必須</label>
                      <div class="form-inline">
                        <input type="text" class="form-control postal_code p-postal-code" name="zip_code_1[0]" placeholder="000" maxlength="3" value="">
                        <span>-</span>
                        <input type="text" class="form-control postal_code p-postal-code" name="zip_code_2[0]" placeholder="0000" maxlength="4" value="">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="state[]">都道府県:</label>
                      <label class="required">※ 必須</label>
                      <select name="state[0]" class="form-control p-region">
                        <option value="">-</option>
                        <option value="北海道">北海道</option>
                        <option value="青森県">青森県</option>
                        <option value="岩手県">岩手県</option>
                        <option value="宮城県">宮城県</option>
                        <option value="秋田県">秋田県</option>
                        <option value="山形県">山形県</option> <option value="福島県">福島県</option> <option value="茨城県">茨城県</option> <option value="栃木県">栃木県</option>
                        <option value="群馬県">群馬県</option>
                        <option value="埼玉県">埼玉県</option>
                        <option value="千葉県">千葉県</option>
                        <option value="東京都">東京都</option>
                        <option value="神奈川県">神奈川県</option>
                        <option value="新潟県">新潟県</option>
                        <option value="富山県">富山県</option>
                        <option value="石川県">石川県</option>
                        <option value="福井県">福井県</option>
                        <option value="山梨県">山梨県</option>
                        <option value="長野県">長野県</option>
                        <option value="岐阜県">岐阜県</option>
                        <option value="静岡県">静岡県</option>
                        <option value="愛知県">愛知県</option>
                        <option value="三重県">三重県</option>
                        <option value="滋賀県">滋賀県</option>
                        <option value="京都府">京都府</option>
                        <option value="大阪府">大阪府</option>
                        <option value="兵庫県">兵庫県</option>
                        <option value="奈良県">奈良県</option>
                        <option value="和歌山県">和歌山県</option>
                        <option value="鳥取県">鳥取県</option>
                        <option value="島根県">島根県</option>
                        <option value="岡山県">岡山県</option>
                        <option value="広島県">広島県</option>
                        <option value="山口県">山口県</option>
                        <option value="徳島県">徳島県</option>
                        <option value="香川県">香川県</option>
                        <option value="愛媛県">愛媛県</option>
                        <option value="高知県">高知県</option>
                        <option value="福岡県">福岡県</option>
                        <option value="佐賀県">佐賀県</option>
                        <option value="長崎県">長崎県</option>
                        <option value="熊本県">熊本県</option>
                        <option value="大分県">大分県</option>
                        <option value="宮崎県">宮崎県</option>
                        <option value="鹿児島県">鹿児島県</option>
                        <option value="沖縄県">沖縄県</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>住所1:</label>
                      <label class="required">※ 必須</label>
                      <input type="text" class="form-control p-locality p-street-address" name="address_1[0]" placeholder="例）台東区松が谷" value="">
                      <div class="invalid-feedback"> 住所を入力して下さい。 </div>
                    </div>
                    <div class="form-group">
                      <label>住所2 (番地, 建物名):※ </label>
                      <label class="required">※ 必須</label>
                      <input type="text" class="form-control p-extended-address" name="address_2[0]" placeholder="例）1-2-3 ○○ビル3階" value="">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">電話番号:</label>
                      <label class="required">※ 必須</label>
                      <input type="tel" class="form-control" name="tel[0]" placeholder="例）00-0000-0000" value="">
                      <div class="invalid-feedback"> 電話番号を入力して下さい。 </div>
                    </div>
                    <input type="hidden" class="p-country-name" value="Japan">
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col p-2 p-lg-0">
      <hr> 備考
      <textarea name="description" class="form-control"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col m-0 p-0 pt-2 select_address_type">
      <div class="form-group">
        <a class="separated" href="/orders/input/167?separated=1">複数の送り先を指定したい方はこちら</a>
      </div>
    </div>
  </div>
  <div class="row d-none d-lg-block">
    <div class="col p-0 d-flex justify-content-end">
      <%= f.submit '戻る', name: 'back', class: 'white' %>
        <i class="arrow_left_green"></i>
      <button type="submit" class="submit_button" id="submit_button_pc">
        <i class="arrow_right_white"></i> お申込み内容の確認へ
      </button>
    </div>
    <% end %>
  </div>
</div>
