<div class="container signup_login_content align-content-center text-center">
  <div class="text-center mb-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
        </div>
      </div>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group-signup signup">
      <h5> オーナープランのお申込みには<br class="d-lg-none"> ログインが必要です </h5>
      <button class="btn btn_facebook" id="facebook_signup_button">
         Facebook でログインする
      </button>
      <p> メールアドレスで<br class="d-lg-none"> ログイン</p>
      <div class="mx-auto email_signup_form mb-3">
        <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メールアドレス", class:"form-control rounded-top" %>
        </div>
        <div class="field">
            <%= f.password_field :password, autocomplete: "off", placeholder:"パスワード", class:"form-control rounded-top"%>
        </div>
      </div>
      <div class="actions">
            <%= f.submit "ログイン", class:"btn signin-btn-email rounded-top"%>
      </div>
    </div>
  <% end %>
  <div class="form-group-signup d-none d-lg-block">
    <h5>会員でない方はこちら</h5>
    <%= render "devise/shared/links" %>
  </div>
</div>
