<div class="mypage_container">
  <div class="mx-auto mypage_main_pc">
    <%= render 'users/sidebar' %>
    <div class="mypage_main_contents">
      <h2>アドレス帳</h2>
      <div class="user-addresses-infomation">
        登録プランのお届け先変更をされたい場合は、こちらのページではできません。<br>
        マイページの「契約中のプラン」から変更してください。
      </div>
      <div class="row">
        <% if @addresses %>
          <% @addresses.each do |address| %>
            <div class="col">
              <div class="registered-addresses-deliveries">
                <h3>住所 <%= address.id %></h3>
                <table>
                  <tbody>
                    <tr>
                      <th>氏名</th>
                      <td><%= address.full_name %></td>
                    </tr>
                    <tr>
                      <th>郵便番号</th>
                      <td><%= address.postal_code %></td>
                    </tr>
                    <tr>
                      <th>都道府県</th>
                      <td><%= address.prefecture %></td>
                    </tr>
                    <tr>
                      <th>住所</th>
                      <td><%= address.city %> <%= address.house_number %></td>
                    </tr>
                    <tr>
                      <th>電話番号</th>
                      <td><%= address.tel %></td>
                    </tr>
                  </tbody>
                </table>
                <div class="user-addresses-edit">
                  <button class="white addresses-edit-button">
                    <%= link_to '編集', "/users/#{current_user.id}/addresses/#{address.id}/edit", :style=>"color:#427833;" %>
                  </button>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="add_addresses_container">
        <button class="white addresses-add-button">
          <%= link_to "住所を新規追加", new_user_address_path(current_user), :style=>"color:#427833;" %>
        </button>
      </div>
    </div>
  </div>
</div>
