<article>
  <section id="top_plans">
    <%= render partial: "slides" %>
    <%= render partial: "img_boxes" %>
  </section>
  <section id="about_owners" class="container mb-5 mt-5">
   <div class="text-center">
    <a href="/about">
      <%= image_tag 'https://d1xgtamobon6ik.cloudfront.net/static/images/index/banner/banner-about-owners.jpg' %>
    </a>
   </div>
  </section>
  <section id="plans" class="container mt-3 mb-5">
    <div class="head">
      <div class="head_wrap">
        <p>オーナー募集中のプラン</p>
      <div class="line"></div>
      </div>
    </div>
    <ul class="dropdown-categories">
      <li class="dropdown-categories__title">カテゴリーから探す
        <%= image_tag 'down-arrow.png', class:'down-arrow' %>
        <ul class="dropdown-categories__children">
        <% @categories.each_with_index do |category, index| %>
          <li class="category_sort_list sort-by-category" id="category_sort_list-<%= index %>" data-id="<%= category.id %>"><%= category.category%></li>
        <% end %>
        </ul>
      </li>
      <li class="dropdown-categories__title">並べ替え
        <%= image_tag 'down-arrow.png', class:'down-arrow' %>
        <ul class="dropdown-categories__children">
          <li class="category_sort_list sort-by-price">価格順</li>
        </ul>
      </li>
    </ul>
    <div class="plans_pc d-flex justify-content-center flex-wrap float-cards">
      <% @plans.each do |plan| %>
        <%= link_to plan_path(plan), class:"plan_card_medium" do %>
          <div class="card float-card">
            <img class="card-img-top" src="<%= plan.img_url %>" alt="Card image cap">
            <div class="card-body">
              <% if plan.display_deadline.present? && plan.display_deadline > 0 %>
              <div class="limit">残り<br/><strong><%= plan.display_deadline %></strong>日</div>
              <% elsif plan.display_deadline.present? && plan.display_deadline < 0 %>
              <div class="limit">募集<br/>終了</div>
              <% end %>
              <div class="avatar" style="background-image:url(<%= plan.avatar %>);">
              </div>
              <h5 class="card_title"><%= plan.title %></h5>
              <div class="d-flex justify-content-lg-between justify-content-end card_footer">
                <div class="location d-lg-inline-block">
                  <img class="location_icon" src="https://d1xgtamobon6ik.cloudfront.net/static/images/index/icon-location.svg" alt="location_icon"><%= plan.area %>
                </div>
                <div class="price"><%= number_to_currency(plan.courses.minimum(:price), locale: 'jp') %>〜</div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</article>

