<article>
  <section id="top_plans">
    <%= render partial: "slides" %>
    <%= render partial: "img_boxes" %>
  </section>
  <section id="about_owners" class="container mb-5 mt-5">
   <div class="text-center">
    <a href="/about"> <img src="https://d1xgtamobon6ik.cloudfront.net/static/images/index/banner/banner-about-owners.jpg" alt="とっておきの、オーナーになろう。OWNERSについて">
    </a>
   </div>
  </section>
  <section id="plans" class="container mt-3 mb-5">
    <div class="head">
      <div class="head_wrap">
        <p>オーナー募集中のプラン</p>
      <div class="line"></div>
      </div>
    </div>
    <div class="plans_pc d-flex justify-content-center flex-wrap">
      <% @plans.each do |plan| %>
        <%= link_to plan_path(plan), class:"plan_card_medium" do %>
          <div class="card float-card">
            <img class="card-img-top" src="<%= plan.img_url %>" alt="Card image cap">
            <div class="card-body">
              <div class="avatar" style="background-image:url(<%= plan.avatar %>);">
              </div>
              <h5 class="card_title"><%= plan.title %></h5>
              <div class="d-flex justify-content-lg-between justify-content-end card_footer">
                <div class="location d-lg-inline-block">
                  <img class="location_icon" src="https://d1xgtamobon6ik.cloudfront.net/static/images/index/icon-location.svg" alt="location_icon"><%= plan.area %>
                </div>
                <div class="price">###円</div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</article>

